{% extends 'blog/base.html' %}
{% block carousel %}
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">

      <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(/static/blog/icons/banner.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">

            <div class="col-12">
              <div class="welcome-text text-right">
                <h2 data-animation="fadeInUp" data-delay="300ms">Welcome to <br>DejaView</h2>
                <h6 data-animation="fadeInUp" data-delay="700ms">Experience the thrill of live events from the comfort of your home.</h6>
                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="800ms">
                  <a href="#home" class="btn more-btn">Discover <i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

<section class="our-speaker-area section-padding-100-60">
    <div class="container">
        <div class="row h-100">

            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp my-4 py-4" data-wow-delay="300ms">
                    <h4>Exclusive Content from All your Favorite Artists in One Place</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-6 col-lg-4" style="width: 18rem;">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="speaker-single-thumb">
                        <img class="thumbnail" src="/static/blog/assets/charger2.jpg" alt>
                    </div>

                    <div class="speaker-info">
                        <h5>Charger Boy</h5>
                        <p>Singer</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4" style="width: 18rem;">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="speaker-single-thumb">
                        <img class="thumbnail" src="/static/blog/assets/concert.jpg" alt>
                    </div>


                    <div class="speaker-info">
                        <h5>Wande Electric</h5>
                        <p>Singer</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4" style="width: 18rem;">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="speaker-single-thumb">
                        <img class="thumbnail" src="/static/blog/assets/adele.jpg" alt>
                    </div>


                    <div class="speaker-info">
                        <h5>Emma Sande</h5>
                        <p>Artist</p>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-lg-4" style="width: 18rem;">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="speaker-single-thumb">
                        <img class="thumbnail" src="/static/blog/assets/flavor2.jpg" alt="thumbnail">
                    </div>


                    <div class="speaker-info">
                        <h5>Flavor Noah</h5>
                        <p>Director</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4" style="width: 18rem;">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="speaker-single-thumb card">
                        <img class="card" src="/static/blog/assets/flavor.jpg" alt>
                    </div>

                    <div class="speaker-info">
                        <h5>Khali Kennar</h5>
                        <p>Producer</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" style="width: 18rem;">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">

                    <div class="speaker-single-thumb" >
                        <img class="thumbnail" src="/static/blog/assets/ayo.jpg" alt>
                    </div>

                    <div class="speaker-info">
                        <h5>Yemi Cat</h5>
                        <p>Comedian</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                    <a class="btn confer-btn more-btn mb-4" href="#">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="welcome-slides owl-carousel">

    <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url(/static/blog/assets/private.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">

          <div class="col-12">
            <div class="welcome-text text-right">
              <h2 data-animation="fadeInUp" data-delay="300ms">Why Choose Us?</h2>
              <h6 data-animation="fadeInUp" data-delay="700ms">Exclusive Content</h6>
              <h6 data-animation="fadeInUp" data-delay="700ms">Easy Access Anywhere</h6>
              <h6 data-animation="fadeInUp" data-delay="700ms">User-Friendly Interface</h6>

              <div class="hero-btn-group" data-animation="fadeInUp" data-delay="800ms">
                <a href="#home" class="btn more-btn">Sign Up For Free <i class="zmdi zmdi-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
<section class="about-us-countdown-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-md-6">
                <div class="about-content-text mb-80">
                    <h6 class="wow fadeInUp my-4" data-wow-delay="300ms"><section></section></h6>
                    <h3 class="wow fadeInUp" data-wow-delay="300ms">Magic of HLS Streaming</h3>
                    <p class="wow fadeInUp" data-wow-delay="300ms">Unlock the potential of uninterrupted and secure streaming through our advanced infrastructure hosted globally on AWS. Our Adaptive technology dynamically optimizes video quality, guaranteeing crystal-clear playback on any device. Bringing you world class entertainment, free from the disruptions of buffering. Rest easy knowing your experience is fortified by state of the art encryption for an added layer of security.</p>
                    <a href="#" class="btn more-btn mt-50 wow fadeInUp my-4" data-wow-delay="300ms">Discover <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="jarallax-keep-img demo-float-right" data-speed="0.8">
                    <img class="jarallax-img" src="/static/blog/icons/hls.jpg" alt="" width="400" loading="lazy" />
                  </div>

            </div>
        </div>
    </div>

    <div class="countdown-up-area my-4">
        <div class="container my-4">
            <h4 class="mb-4 text-center" style="color: #df42b1;">Past, Present, and Future Converge Seamlessly at DEJAVIEW</h4>
            <div class="row align-items-center">

                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.6s">

                    <div class="offer-icon">
                    <img src="img/core-img/icon.png" alt="">
                    </div>
                    <h5>Relive the Magic</h5>
                    <h5>Dive into the past and rediscover the magical shows that captivated audiences through
                        our extensive library to relive those moments.</h5>
                    </div>
                    </div>

                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">

                    <div class="offer-icon">
                        <i class="zmdi zmdi-ticket-star"></i>
                    <img src="img/core-img/icon.png" alt="">
                    </div>
                    <h5>Elevate Your Experience</h5>
                    <h5>Browse through our carefully curated merchandise collection, to bring a piece of your favorite
                        events directly to your daily life..</h5>
                    </div>
                    </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.6s">

                    <div class="offer-icon">
                    <img src="img/core-img/icon.png" alt="">
                    </div>
                    <h5>Secure Your Front-Row Seat</h5>
                    <h5>Be the first to experience the next wave of entertainment, by purchasing tickets to upcoming shows
                        ensuring that you never miss a beat.</h5>
                    </div>
                    </div>

            </div>
        </div>
    </div>
</section>

<div class="our-client-area about-page section-padding-0-100">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>WHAT CLIENTS SAY</p>
                    <h4 class="mb-2" style="color: #df42b1;">Testimonials</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div class=" client-area owl-carousel">
                    <div class="single-client-content bg-boxshadow wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-client-text about-page">
                            <p>I'm constantly blown away by the variety of events available on this platform.
                                From concerts to exclusive shows, the quality of streaming is unmatched regardless
                                whether I'm watching on my laptop or phone
                                kudos</p>
                            <div class="single-client-thumb-info d-flex align-items-center">

                                <div class="single-client-thumb">
                                    <img src="img/bg-img/15.jpg" alt>
                                </div>

                                <div class="client-info">
                                    <h6>Jar Jar Binks</h6>
                                </div>
                            </div>
                        </div>

                        <div class="client-icon">
                            <i class="zmdi zmdi-quote"></i>
                        </div>
                    </div>
                    <div class="single-client-content bg-boxshadow wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-client-text about-page">
                            <p>As a busy professional, I love the flexibility this platform offers. I can catch up on my
                                favorite events whenever I have the time, and the crystal-clear playback quality makes every
                                experience enjoyable. It's like having a personalized entertainment venue at my fingertips.</p>

                            <div class="single-client-thumb-info d-flex align-items-center">

                                <div class="single-client-thumb">
                                    <img src="img/bg-img/15.jpg" alt>
                                </div>

                                <div class="client-info">
                                    <h6>Sarah Connor</h6>
                                </div>
                            </div>
                        </div>

                        <div class="client-icon">
                            <i class="zmdi zmdi-quote"></i>
                        </div>
                    </div>
                    <div class="single-client-content bg-boxshadow wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-client-text about-page">
                            <p>Partnering with Dejaview has revolutionized how we connect with our audience. The client pages make it easy to upload and manage content. Our events have reached a broader audience, and the feedback from viewers has been overwhelmingly positive.</p>

                            <div class="single-client-thumb-info d-flex align-items-center">

                                <div class="single-client-thumb">
                                    <img src="img/bg-img/15.jpg" alt>
                                </div>

                                <div class="client-info">
                                    <h6>Mali Moja Events</h6>
                                </div>
                            </div>
                        </div>

                        <div class="client-icon">
                            <i class="zmdi zmdi-quote"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock carousel %}

{% block footer %}{% include 'blog/footer.html' %}{% endblock %}
