<footer class="footer-area bg-img bg-overlay-2 section-padding-100-0 mt-auto">

    <div class="main-footer-area">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12 col-sm-8 col-lg-4 text-center">
                    <div class="single-footer-widget mb-60">
                        <h5 class="widget-title">
                        <a href="#" class="footer-logo logo "><img src="icons/logo.png" alt="&gt;&lt; DEJAVIEW"></a>
                    </h5>
                        <p>Empowering Moments, Connecting Time: Your Gateway to Unforgettable Experiences </p>

                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            <a href="#"><i class="zmdi zmdi-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center">
                    <div class="single-footer-widget mb-60">

                        <h5 class="widget-title">Contact</h5>

                        <div class="footer-contact-info">
                            <p><i class="zmdi zmdi-phone"></i> (254) 720 089691</p>
                            <p><i class="zmdi zmdi-email"></i> contact@dejaview.com</p>
                            <p><i class="zmdi zmdi-globe"></i> www.dejaview.live</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-lg-4 justify-content-center">
                    <div class="single-footer-widget mb-60">
                        <h5 class="widget-title text-center">Sitemap</h5>
                        <div class="footer-nav">
                            <p class="text-center"><a href="#"><i class="zmdi zmdi-home"></i> Home</a></p>
                            <p class="text-center"><a href="#"><i class="zmdi zmdi-pages"></i> About</a></p>
                            <p class="text-center"><a href="#"><i class="zmdi zmdi-account"></i> Login</a></p>
                            <p class="text-center"><a href="#"><i class="zmdi zmdi-accounts-add"></i> Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copywrite-content">
            <div class="row">

                <div class="col-12 col-md-8">

                    <div class="copywrite-text">
                        <p class="text-center">
                            Copyright ©2023 All rights reserved | This website is made with 💖 by <a
                                href="https://github.com/viictoo" target="_blank">viictoo</a>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-menu">
                        <ul class="nav justify-content-end">
                            <li><a href="#"><i class="zmdi zmdi-dot"></i> Terms of Service</a></li>
                            <li><a href="#"><i class="zmdi zmdi-dot"></i> Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
