
{% extends "blog/base.html" %}
<title>Welcome Home</title>
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="media">
      <img class="rounded-circle account-img" src="/media/logo.png">
      <div class="media-body">
        <h2 class="display-4">Hero Section</h2>
        <p class="lead">some text</p>
      </div>
    </div>
  </div>
<div class="row">
{% for video in videos %}
<div class="col-sm-4">
    <article class="media content-section">
      <div class="media-body">
        <div class="card">
          <img class="card-img-top" src="media/OIP.jpeg" alt="Card image cap">
        </div>
        <h4><a class="article-title my_card" href="{% url 'post-detail' video.id %}">{{ video.title }}</a></h4>
        <p class="article-content cards">{{ video.content }}</p>
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ video.author.profile.image.url }}">
              <a class="mr-2" href="{% url 'user-videos' video.author %}">{{ video.author }}</a>
              <small class="text-muted">{{ video.date_posted|date:"F, d, Y" }}</small>
          </div>
        </div>
    </article>
</div>
    {% endfor %}
</div>
{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif%}
{% endif%}
{% endblock content %}
{% block footer %}{% include 'blog/footer.html' %}{% endblock %}
