{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='row centered'>
    <div class='content-section col-md-6 border-left-0 ' id='testing'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group ">
                <legend class="border-bottom mb-4">Whats on your mind?</legend>
         
                {{ form.title|as_crispy_field }}
                <div id="editor">
                    {{ form.content|as_crispy_field }}
                    <p>Spread the word.</p>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info more-btn" type="submit">Publish</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
