{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-steel">
    <div class="media">
      <img class="rounded-circle account-img" src="">
      <div class="media-body">
        <h2 class="account-heading">Video Banner</h2>
        <p class="text-secondary">some text</p>
      </div>
    </div>
  </div>
<div class="row">
<div class="col-sm-8">
    <article class="media content-section">
      <div class="media-body">
        {% if object.author == user %}
        <div>
            <a class="btn btn-secondary btn-sm my-1"href="{% url 'post-update' object.id%}">Update</a>
            <a class="btn btn-danger btn-sm mt-100"href="{% url 'post-delete' object.id%}">Delete</a>
        </div>
        {% endif %}
        <h2 class="article-title"> {{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
              <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F, d, Y" }}</small>
          </div>
        </div>
    </article>
</div>

</div>
{% endblock content %}
