{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="row">
  <div class="content-section col-md-6 border-right-0" id="card-greeting">
    <div class="centered">
      <p class="text-start">
        Account Recovery Tip:<br>Having trouble? Contact support for assistance.
      </p>
    </div>
  </div>
  <div class="content-section col-md-6 border-left-0" id="card-input">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend>Forgot Your Password?</legend>
        <legend class="border-bottom mb-4">Enter Your Email to Reset it</legend>
        {{ form|crispy }}
      </fieldset>
      <button class="btn btn-outline-info more-btn" type="submit">
        Reset Password
      </button>
    </form>
  </div>
</div>
{% endblock content %}
{% block footer %}{% include 'blog/footer.html' %}{% endblock %}
